<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!-- Empty column for more harmony -->
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                </div>
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <p>{{site.author-about}}</p>
                    <br>
                    <button class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold ml-onclick-form" onclick="ml('show', 'C8S6kw', true)"><i class="fas fa-envelope"></i>&nbsp Subscribe to my newsletter</button>
                    {% unless site.email == %}
                    <a id="contact-button" href="mailto:{{site.email}}" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold" target="_blank">
                        <i class="fas fa-envelope"></i>&nbsp Send me an Email</a>

                    {% endunless %}
                    <div class="is-size-1">
                        {% unless site.instagram_username ==  %}
                        <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                        {% endunless %}
                        <!-- &nbsp; -->
                        {% unless site.twitter_username == %}
                        <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                        {% endunless %}
                        <!-- &nbsp; -->
                        {% unless site.facebook_username == %}
                        <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                        {% endunless %}
                    </div>
                </div>
            </div>
        </div>
</section>