<section class="hero is-fullheight has-text-centered has-background-black" id="badseed">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="/assets/images/badseed.jpg" alt="Bad Seed">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        In Berlin, a young woman is found murdered and her ovaries are missing.
                    </p>
                    <br>
                    <p>
                        Homicides detective Olaf Bauer, who’s been struggling since an organ trafficking gang killed 
                        his partner during an undercover operation, is called on the case.
                    </p>
                    <br>
                    <p>
                        His boss teams him up with Julia Teichmann, a recent divorcée in turmoil with a young
                        daughter and her own troubles, opening up Bauer’s emotional wound.
                    </p>
                    <br>
                    <p>
                        As Olaf and Julia lead the investigation and adjust to working together, a second woman is
                        murdered exactly like the first victim, and the killer could be anybody—even Teichmann’s father.
                    </p>
                    <br>
                    <p>Who is behind the serial gruesome murders?</p>
                    <p>And how is Olaf’s brother entangled in the case?</p>
                    <br>
                </div>
            </div>
        </div>
</section>