<section class="hero is-fullheight has-text-centered has-background-black" id="berlin_seeds">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="/assets/images/berlin_seeds.jpg" alt="Berlin Seeds">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        In the bustling metropolis of Berlin, a young woman is brutally murdered and her ovaries are missing.
                    </p>
                    <br>
                    <p>
                        Homicide detective Olaf Bauer, still haunted by the loss of his partner to an organ trafficking gang, teams up with Julia Teichmann, a recent divorcée with a daughter and her own demons, to lead the investigation.
                    </p>
                    <br>
                    <p>
                        As Olaf and Julia adjust to working together, a second murder mimicking the first occurs, and the killer could be anyone.
                    </p>
                    <br>
                    <p>Who is behind the serial gruesome murders?</p>
                    <p>And how is Olaf’s brother tangled up in the case?</p>
                    <br>
                    <br>
                    <p align="center"><i>Coming soon ...</i></p>
                </div>
            </div>
        </div>
</section>