<section class="hero is-fullheight has-text-centered has-background-black" id="berlin_seeds">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="/assets/images/berlin_seeds.jpg" alt="Berlin Seeds">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        In the bustling metropolis of Berlin, homicide detective Olaf Bauer struggles 
                        with the aftermath of a shootout. An organ trafficking gang claimed his partner’s 
                        life, and Olaf holds himself responsible. So when a young woman is murdered with 
                        her ovaries missing, he can’t shake the feeling his partner died for nothing.
                    </p>
                    <br>
                    <p>
                        Olaf’s boss assigns him a new partner for the investigation: Julia Teichmann,
                        a sharp-witted divorcee with a young daughter and a fiery temperament. As Olaf 
                        and Julia are adjusting to working together, a second murder occurs. The same 
                        gruesome signature is present, and the duo soon realizes they’re dealing with 
                        a serial killer.
                    </p>
                    <br>
                    <p>
                        With the clock ticking, Olaf and Julia will confront their own family histories 
                        to uncover the killer’s identity. But in the absence of clear motives and leads, 
                        the perpetrator could be anyone. Will they crack the case before the next strike?
                    </p>
                    <br>
                    <br>
                    <p align="center"; style="font-size:xx-large"><a href="https://www.amazon.com/gp/product/B0CB1QQP2H?ref_=dbs_m_mng_rwt_calw_tkin_0&storeType=ebooks&qid=1688556007&sr=1-1"; target="_blank"; style="color:#ff005b">OUT NOW</a></p>
                    <p align="center"; style="font-size:large"><a href="https://www.amazon.com/gp/product/B0CB1QQP2H?ref_=dbs_m_mng_rwt_calw_tkin_0&storeType=ebooks&qid=1688556007&sr=1-1"; target="_blank"; style="color:#f9e9ee">Order your copy &#10230</a></p>
                </div>
            </div>
        </div>
</section>
