<section class="hero is-fullheight has-text-centered has-background-black" id="berlin_seeds">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="/assets/images/berlin_seeds.jpg" alt="Berlin Seeds">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <p><b>
                        Detective Olaf Bauer thought he'd buried his demons.
                        But when a woman's body turns up with her ovaries missing, old wounds are ripped open.
                    </b></p>
                    <br>
                    <p>
                        Enter Julia Teichmann: his new partner, a razor-sharp divorcee with 
                        a teenage daughter and her own demons. As Olaf and Julia adjust to working 
                        together, another body drops. Same chilling signature. <b>Serial killer
                            on the loose</b>
                        </b>
                    </p>
                    <br>
                    <p>
                        With the clock ticking, Olaf and Julia must confront their own troubled 
                        families while hunting a killer who could be anyone—even someone close to home.
                    </p>
                    <br>
                    <p>
                        <b>Will they crack the case before the next strike?</b>
                    </p>
                    <br>
                    <p align="center"; style="font-size:xx-large; font-weight: 500;"><a href="https://books2read.com/u/mgDZG7/?store=amazon"; target="_blank"; style="color:#ff005b">OUT NOW</a></p>
                    <p align="center"; style="font-size:large"><a href="https://books2read.com/u/mgDZG7/?store=amazon"; target="_blank"; style="color:#ffffff">Order your copy &#10230</a></p>
                    <br>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/four_stars.png" style="max-width: 105px; vertical-align: top">
                        <i>“Non-stop unexpected ending. Just when you think you might know, 
                            you don't.”</i> — Tabatha S
                    </p>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/four_stars.png" style="max-width: 105px; vertical-align: top">
                        <i>“Main characters are real and likeable. Storyline is great and keeps you guessing
                            right up to the end.”</i> — Nancy O
                    </p>
                    <p align="center" tyle="margin-top: 5px;">
                        <img src="assets/images/five_stars.png" style="max-width: 135px; vertical-align: top">
                        <i>“So many different plot twists and turns and unexpected connections. 
                            I loved it!”</i> — S Jeppson
                    </p>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/five_stars.png" style="max-width: 135px; vertical-align: top">
                        <i>“The intensity of the writing meant that I had 
                        to set it down to process and catch my breath even while I wanted to 
                        press on to the solution”</i> — V Kenna
                    </p>
                </div>
            </div>
        </div>
</section>
