<link rel="stylesheet" href="/assets/css/style.css">

<section class="hero-books is-fullheight has-text-centered" id="books">
    </style>    
    <div class="hero-body">
        <div class="container">
            <!DOCTYPE html>

            <div class="box-container">
                <h1 style="color: white; font-family: Gill Sans; font-size: 25px;">
                    OLAF BAUER SERIES
                </h1>
                <br>
    
                <main class="book-grid">
                    <div class="book-card">
                        <a href="{{site.url}}{{site.baseurl}}/books/berlin_seeds">
                            <img src="/assets/images/berlin_seeds.jpg" alt="Berlin Seeds">
                        </a>
                    </div>
                    
                    <div class="book-card">
                        <a href="{{site.url}}{{site.baseurl}}/books/break_even">
                            <img src="/assets/images/break_even.jpg" alt="Break Even">
                        </a>
                    </div>
                    
                    <div class="book-card">
                        <a href="{{site.url}}{{site.baseurl}}/books/buried_roots">
                            <img src="/assets/images/buried_roots.jpg" alt="Buried Roots">
                        </a>
                    </div>

                    <div class="book-card">
                        <a href="{{site.url}}{{site.baseurl}}/books/fading_echoes">
                            <img src="/assets/images/fading_echoes.jpg" alt="Fading Echoes">
                        </a>
                    </div>

                    <div class="book-card">
                        <a href="{{site.url}}{{site.baseurl}}/books/the_mansion">
                            <img src="/assets/images/the_mansion.jpg" alt="The Mansion">
                        </a>
                    </div>

                </main>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
</section>
