<section class="hero is-fullheight has-text-centered has-background-black" id="break_even">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img src="/assets/images/break_even.jpg" alt="Break Even">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <p>
                        <b>Detective Olaf Bauer thought he’d seen the last of his brother when 
                            he put him behind bars.</b> But when a legal loophole sets Max free, 
                            their violent past comes roaring back to life.
                    </p>
                    <br>
                    <p>
                        To complicate matters, Olaf takes on a puzzling murder case. Digging deeper, he 
                        unearths disturbing links between a dead journalist, Max’s release, and a politician’s 
                        disappearance.
                    </p>
                    <br>
                    <p>
                        <b>Four key figures emerge as pieces in the puzzle:</b> a cunning lawyer, 
                        an enigmatic pub owner, a morally conflicted professor, and a hospice nurse 
                        carrying an unexpected burden.
                    </p>
                    </br>
                    <p>
                        What went down with them two decades ago?  <br>
                        And how do the dots connect in the current circus?
                    </p>
                    <br>
                    <p align="center"; style="font-size:xx-large; font-weight: 500;"><a href="https://books2read.com/u/mKPwQB?store=amazon"; target="_blank"; style="color:#0079bc">PRE-ORDER NOW</a></p>
                    <p align="center"; style="font-size:large"><a href="https://books2read.com/u/mKPwQB?store=amazon"; target="_blank"; style="color:#f9e9ee">Order your copy &#10230</a></p>
                    </br>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/five_stars_blue.png" style="max-width: 125px; vertical-align: top">
                        <i>“I thoroughly enjoyed this book from start to finish, it was a 
                            real page turner for me.”</i> — Kellie, Goodreads
                    </p>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/four_stars_blue.png" style="max-width: 105px; vertical-align: top">
                        <i>“This book had good suspense, intriguing, action, murder, mystery,
                            a good whodunit and some crazy twists and turns!.”</i> — Debbie, Netgalley
                    </p>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/four_stars_blue.png" style="max-width: 105px; vertical-align: top">
                        <i>“Oh boy, Break Even is a thriller that readers of James Patterson and Michael 
                            Connelly will greatly enjoy.”</i> — Pamela, Netgalley
                    </p>
                </p>
                <p align="center" style="margin-top: 5px;">
                    <img src="assets/images/five_stars_blue.png" style="max-width: 125px; vertical-align: top">
                    <i>“This book has a very well-done, complicated plot.”</i> — Dena, Goodreads
                </p>
                    <p align="center" style="margin-top: 5px;">
                        <img src="assets/images/four_stars_blue.png" style="max-width: 105px; vertical-align: top">
                        <i>“This was a true cloak and dagger the whole way through. It kept me 
                            turning pages and thinking.”</i> — Beverly, Goodreads
                    </p>
                </div>
            </div>
        </div>
</section>
