<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="box-container">
      <!-- <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1> -->
      <!-- <h3 class="subtitle has-text-white-bis is-uppercase is-marginless">
        {{site.description}}
      </h3> -->
      <!-- </br></br> -->
      <div class="columns">
        <div class="column is-two-thirds-desktop is-two-thirds-tablet is-two-thirds-fullhd has-text-white-bis">
          <div class="header-showcase">
            ORDER THE LATEST MOST GRIPPING CRIME READ
          </div>
          <!-- <div class="subheader-showcase">
            To break even, someone must pay
          </div> -->
          <div class="subheader-showcase">
            Some secrets are better stay hidden
          </div>
        </br>
        </div>
        <div class="column is-one-half-desktop is-one-half-tablet is-one-half-fullhd has-text-white-bis">
          </div>
      </div>
      <!-- <div class="column is-one-half-desktop is-one-half-tablet is-one-half-fullhd">
        <a href="{{site.url}}{{site.baseurl}}/#berlin_seeds">
          <img src="/assets/images/berlin_seeds.jpg" alt="Berlin Seeds" width="175">
        </a>
      </div> -->
      <div class="columns is-gapless">
        <div class="column is-half">
          <div class="content-wrapper">
            <!-- <p class="text-showcase">
              Four lives entwined, one dark truth. Who will pay for twenty years of secrets?
            </p> -->
            <p class="text-showcase">
              Detective Olaf Bauer grew up believing his mother was dead—the Regime took her away when he was only eight.

              But when he stumbles upon a recent photograph of her during a murder investigation, his world is turned upside down...
            </p>
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/books/buried_roots" 
               class="button is-rounded is-uppercase has-text-weight-semibold is-white"
               style="background-color: #10a57f; color: white;"
               target="_blank">
              BUY NOW
            </a>
          </div>
        </div>
        <div class="column is-half">
          <a href="{{site.url}}{{site.baseurl}}/books/buried_roots">
            <img src="/assets/images/buried_roots.jpg" alt="Break Even" width="200" class="book-image">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>