<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase is-marginless">
        {{site.description}}
      </h3>
      </br></br>
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd has-text-white-bis">
        </div>
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd has-text-white-bis">
            <p>
              Read <i>Fading Echoes</i>, the exclusive prequel to <i>Berlin Seeds</i> for FREE
            </p>
            <br>
            <a href="{{site.url}}{{site.baseurl}}/LPs/fading_echoes.html"><button class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined has-text-weight-semibold">Get it now</button></a>
        </div>
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
          <a href="{{site.url}}{{site.baseurl}}/LPs/fading_echoes.html">
            <img src="/assets/images/fading_echoes.jpg" alt="Fading Echoes" width="175">
          </a>
      </div>
      <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
        <a href="{{site.url}}{{site.baseurl}}/#berlin_seeds">
          <img src="/assets/images/berlin_seeds.jpg" alt="Fading Echoes" width="175">
        </a>
    </div>
    </div>
      <!-- <hr>
      <a href="{{site.url}}{{site.baseurl}}/#berlin_seeds"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Berlin Seeds</a>
      </a>
      &nbsp &nbsp
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Bio</a>
      </a> -->
    </div>
  </div>
</section>